[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
runplaybook = "python -m ansible playbook playbook.yml"